.UsernameField{
    margin-right: 20px;
}

.OrderingList{
    display: inline-block;
}

.form--visible{
    display: block;
}

.form--hidden{
    display: none;
}

.SubmitButton{
    margin-top: 20px;
    width: 260px;
}