.resultHeader--visible{
    display: flex;
}

.resultHeader--hidden{
    display: none;
}

.avatarImage{
    width: 200px;
}

.FoundRepoInfo{
    flex: 1;
    padding-left: 20px;
}

.AccentInfo{
    font-weight: bold;
}