.resultHeader--visible{
    margin-top: 30px;
    display: flex;
}

.resultHeader--hidden{
    display: none;
}

.avatarImage{
    width: 260px;
}

.FoundRepoInfo{
    flex: 1;
    padding-left: 20px;
}

.AccentInfo{
    font-weight: bold;
}